
/.idea
FrojBot/.env
pronunciation_data/big.txt
Froj_theories/Froj_Harri_theory/all_entries.json
Froj_theories/Froj_Harri_theory/all_outlines.json
Froj_theories/Froj_Harri_theory/complete_output.json
FrojBot/preprocessed_dictionaries/entries_starting_\*.json
FrojBot/preprocessed_dictionaries/entries_starting_a.json
FrojBot/preprocessed_dictionaries/entries_starting_e.json
FrojBot/preprocessed_dictionaries/entries_starting_h.json
FrojBot/preprocessed_dictionaries/entries_starting_k.json
FrojBot/preprocessed_dictionaries/entries_starting_o.json
FrojBot/preprocessed_dictionaries/entries_starting_p.json
FrojBot/preprocessed_dictionaries/entries_starting_r.json
FrojBot/preprocessed_dictionaries/entries_starting_s.json
FrojBot/preprocessed_dictionaries/entries_starting_u.json
FrojBot/preprocessed_dictionaries/entries_starting_t.json
FrojBot/preprocessed_dictionaries/entries_starting_w.json
FrojBot/preprocessed_dictionaries/outlines_starting_a.json
FrojBot/preprocessed_dictionaries/outlines_starting_b.json
FrojBot/preprocessed_dictionaries/outlines_starting_c.json
FrojBot/preprocessed_dictionaries/outlines_starting_d.json
FrojBot/preprocessed_dictionaries/outlines_starting_e.json
FrojBot/preprocessed_dictionaries/outlines_starting_f.json
FrojBot/preprocessed_dictionaries/outlines_starting_g.json
FrojBot/preprocessed_dictionaries/outlines_starting_h.json
FrojBot/preprocessed_dictionaries/outlines_starting_i.json
FrojBot/preprocessed_dictionaries/outlines_starting_j.json
FrojBot/preprocessed_dictionaries/outlines_starting_k.json
FrojBot/preprocessed_dictionaries/outlines_starting_l.json
FrojBot/preprocessed_dictionaries/outlines_starting_m.json
FrojBot/preprocessed_dictionaries/outlines_starting_n.json
FrojBot/preprocessed_dictionaries/outlines_starting_o.json
FrojBot/preprocessed_dictionaries/outlines_starting_q.json
FrojBot/preprocessed_dictionaries/outlines_starting_p.json
FrojBot/preprocessed_dictionaries/outlines_starting_r.json
FrojBot/preprocessed_dictionaries/outlines_starting_s.json
FrojBot/preprocessed_dictionaries/outlines_starting_t.json
FrojBot/preprocessed_dictionaries/outlines_starting_u.json
FrojBot/preprocessed_dictionaries/outlines_starting_v.json
FrojBot/preprocessed_dictionaries/outlines_starting_w.json
FrojBot/preprocessed_dictionaries/outlines_starting_x.json
FrojBot/preprocessed_dictionaries/outlines_starting_y.json
FrojBot/preprocessed_dictionaries/outlines_starting_z.json
FrojBot/preprocessed_dictionaries/words_that_Edinburgh_has.txt
Froj_theories/Froj_user_theory.json
