
/.idea
FrojBot/.env
pronunciation_data/big.txt
Froj_theories/Froj_Harri_theory/all_entries.json
Froj_theories/Froj_Harri_theory/all_outlines.json
Froj_theories/Froj_Harri_theory/complete_output.json
Froj_theories/Froj_user_theory.json
FrojBot/theories/*/*
pronunciation_data/big copy.txt
pronunciation_data/no suffixes.txt
Froj_theories/Tadpole/all_entries.json
Froj_theories/Tadpole/all_outlines.json
Froj_theories/Froj_Harri_theory/complete_output.zip
Froj_theories/Tadpole/complete_output.json
/FrojBot/__pycache__
Froj_theories/English_Michela_Phonetic_Steno_for_Piano/__pycache__/chord_definitions.cpython-311.pyc
Froj_theories/English_Michela_Phonetic_Steno_for_Piano/__pycache__/chord_definitions.cpython-311.pyc
Froj_theories/Tadpole/__pycache__/chord_definitions.cpython-311.pyc
Froj_theories/Tadpole/__pycache__/chord_definitions.cpython-311.pyc
Froj_theories/Tadpole/__pycache__/chord_definitions.cpython-311.pyc
Froj_theories/English_Michela_Phonetic_Steno_for_Piano/__pycache__/chord_definitions.cpython-311.pyc
Froj_theories/English_Michela_Phonetic_Steno_for_Piano/__pycache__/chord_definitions.cpython-311.pyc
froj_brains/__pycache__/map_steno_chords_to_keysymbols.cpython-311.pyc
Froj_theories/English_Michela_Phonetic_Steno_for_Piano/__pycache__/chord_definitions.cpython-311.pyc
Froj_theories/Tadpole/__pycache__/chord_definitions.cpython-311.pyc
Froj_theories/Tadpole/__pycache__/chord_definitions.cpython-311.pyc
froj_brains/__pycache__/map_steno_chords_to_keysymbols.cpython-311.pyc
