
/.idea
FrojBot/.env
pronunciation_data/big.txt
Froj_theories/Froj_Harri_theory/all_entries.json
Froj_theories/Froj_Harri_theory/all_outlines.json
Froj_theories/Froj_Harri_theory/complete_output.json
